
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Roboto:wght@300;400;700&family=Work+Sans:wght@400;500;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 15px;
  background-color: #f0e2c5;
}

.header__logIn{
  display:flex;
  font-family: 'Roboto', sans-serif;
  transform: translateX(650px);
  font-size: 12px;

}

.header__left{
  display: flex;
  align-items: center;
}

.header__left img{
  width: 250px;
  margin-left: 15px;
}

/* free trial button */
.freetrial {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #f70101;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: small;
}

.freetrial:hover {background-color: #a90707}

.freetrial:active {
  background-color: #be0303;
  box-shadow: 0 3px #666;
  transform: translateY(3px);
}

.mainBody{
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.title{
   height: 100px;
   align-items: center;
}
.title img{
  width: 600px;
  height: auto;
  align-items: center;
  justify-content: center;
}

.happy{
  height: auto;
  width: auto;
}

.choose{
  height: 70px;
  text-align: center;
}
/* videos */
.lmao {
  width: 450px;
  height:auto;
  margin: 5px;
  border: 6px double black;
  align-items: center;
  justify-content: center;
}

.wishes{
  height: 400px;
  width: auto;
  display: flex;
  
}



.chris {
  width: 60%;
  background-color: #f0e2c5 ;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 45px;
  padding: 15px 20px;
  margin: 20px;
}

.pic1 img{
  border-radius: 50%;
  width: 50%;
  size: 70px;
  align-items: center;
}

.deny {
  width: 60%;
  background-color: #f0e2c5 ;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 45px;
  padding: 15px 20px;
  margin: 20px;
}

.pic2 img{
  width: 50%;
  border-radius: 50%;
  size: 70px;
  align-items: center;
}





