
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Roboto:wght@300;400;700&family=Work+Sans:wght@400;500;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 15px;
  background-color: #f0e2c5;
}

.header__logIn{
  display:flex;
  font-family: 'Roboto', sans-serif;
  transform: translateX(650px);
  font-size: 12px;

}

.header__left{
  display: flex;
  align-items: center;
}

.header__left img{
  width: 250px;
  margin-left: 15px;
}

/* free trial button */
.freetrial {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #f70101;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: small;
}

.freetrial:hover {background-color: #a90707}

.freetrial:active {
  background-color: #be0303;
  box-shadow: 0 3px #666;
  transform: translateY(3px);
}

.mainBody{
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.title{
   height: 100px;
   align-items: center;
}
.title img{
  width: 600px;
  height: auto;
  align-items: center;
  justify-content: center;
}

.happy{
  height: auto;
  width: auto;
}

.happy img{
  size: 100%;
}

.choose{
  height: 70px;
  text-align: center;
}
/* videos */


.lmao {
  width: 450px;
  height:auto;
  margin: 5px;
  border: 6px double black;
  align-items: center;
  justify-content: center;
}

.wishes{
  height: 400px;
  width: 100%;
  display: flex;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}


.chris {
  width: 50%;
  display: inline-block;
  padding: 1% 2%;
  margin: 20px;
}

.b {
  width: 100%;
  height: auto;
  display:inline-flex;
  justify-content: left;
  margin-left: 100px;
}
.deny {
  width: 60%;
  display: inline-block;
  padding: 15px 20px;
  margin: 20px;
}

.deny p {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.pic2 {
  align-items: center;
  display: inline-block;
  width: 15%;
  text-align: center;
  padding-top: 20px;
}
.pic2 img{
  width: 100%;
  border-radius: 50%;
  size: 70px;
  align-items: center;
  text-align: center;
}

.a{
  width: 100%;
  height: auto;
  display:inline-flex;
  justify-content: right;
  margin-top: 20px;
}
.chris p {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-top: 4%;
}

.pic1 {
  align-items: center;
  width: 15%;
  text-align: center;
  
}
.pic1 img{
  border-radius: 50%;
  width: 100%;
  size: 70px;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  width: 100%;
  padding: 15px;
  background-color: #f0e2c5;
  margin-top: 20px;
}

@media (max-width:426px) {

  .header{
    display: flex;
    height: 70px;
    width: 425px;
    padding: 15px;
    overflow: hidden;
  }

  
  .header__logIn{
    display:none;
  }
  
  .header__left{
    display: flex;
    align-items: center;
  }
  
  .header__left img{
    width: 150px;
    margin-left: 10px;
  }
  
  /* free trial button */
  .freetrial {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #f70101;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: small;
  }
  
  .freetrial:hover {background-color: #a90707}
  
  .freetrial:active {
    background-color: #be0303;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
  }
  
  .mainBody{
    width: 425px;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .title{
    height: 60px;
    align-items: center;
 }

  .title img{
    width:80%;
    height: auto;
  }
  
  .happy{
    height: auto;
    width: 100%;
  }
  
  .happy img{
    width: 425px;
  }
  
  .choose{
    height: 70px;
    text-align: center;
    font-size: 10px;
  }
  /* videos */
  
  
  .lmao {
    width: 420px;
    height:auto;
    margin: 5px;
    border: 6px double black;
    align-items: center;
    justify-content: center;
  }
  
  .wishes{
    height: 400px;
    width: 100%;
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .b {
    width: 100%;
    height: auto;
    display:inline-flex;
    justify-content: left;
    border: 1px solid blue;
    transform: translateX(-80px);
  }
  .deny {
    width: 80%;
    display: inline-block;
    padding: 1% 2%;
    margin: 10px;
    border: 1px solid red;
  }
  
  .deny p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
  
  .pic2 {
    align-items: center;
    display: inline-block;
    width: 60%;
    text-align: center;
    padding-top: 20px;
    font-size: 10px;
    padding-left: 20px;
    padding-top: 40px;

  }


  .pic2 img{
    width: 100%;
    border-radius: 50%;
    size: 200px;
    align-items: center;
    text-align: center;
  }
  
  .a{
    width: 100%;
    height: auto;
    display:inline-flex;
    justify-content: right;
    margin-top: 20px;
    border: 1px solid blue;
  }

  .chris {
    width: 80%;
    display: inline-block;
    padding: 1% 2%;
    margin: 20px;
    border: 1px solid red;
  }

  .chris p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 4%;
  }
  
  .pic1 {
    align-items: center;
    width: 60%;
    text-align: center;
    font-size: 10px;
    padding-right: 20px;
    padding-top: 40px;

    
  }
  .pic1 img{
    border-radius: 50%;
    width: 100%;
    size: 70px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    
  }
  
}

/* 
@media (max-width:769px) {
  .header{
    display: flex;
    height: 70px;
    width: 769px;
    padding: 15px;
    overflow: hidden;
  }

  
  .header__logIn{
    display:none;
  }
  
  .header__left{
    display: flex;
    align-items: center;
  }
  
  .header__left img{
    width: 200px;
    margin-left: 10px;
  }
  
  .mainBody{
    width: 769px;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .title{
    height: 60px;
    align-items: center;
 }

  .title img{
    width:60%;
    height: auto;
  }
  
  .happy{
    height: auto;
    width: 100%;
  }
  
  .happy img{
    width: 768px;
  }
  
  .choose{
    height: 70px;
    text-align: center;
    font-size: 13px;
  }

  
  
  .lmao {
    width: 370px;
    height:auto;
    margin: 5px;
    border: 6px double black;
    align-items: center;
    justify-content: center;
  }
  
  .wishes{
    height: 400px;
    width: 100%;
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .b {
    width: 100%;
    height: auto;
    display:inline-flex;
    justify-content: left;
  }
  .deny {
    width: 80%;
    display: inline-block;
    padding: 15px 20px;
    margin: 20px;
  }
  
  .deny p {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
  }
  
  .pic2 {
    align-items: center;
    display: inline-block;
    width: 60%;
    text-align: center;
    padding-top: 20px;
    font-size: 10px;
    padding-left: 20px;
    padding-top: 40px;

  }


  .pic2 img{
    width: 100%;
    border-radius: 50%;
    size: 200px;
    align-items: center;
    text-align: center;
  }
  
  .a{
    width: 100%;
    height: auto;
    display:inline-flex;
    justify-content: right;
    margin-top: 20px;
  }

  .chris {
    width: 80%;
    display: inline-block;
    padding: 1% 2%;
    margin: 20px;
  }

  .chris p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-top: 4%;
  }
  
  .pic1 {
    align-items: center;
    width: 60%;
    text-align: center;
    font-size: 10px;
    padding-right: 20px;
    padding-top: 40px;

    
  }
  .pic1 img{
    border-radius: 50%;
    width: 100%;
    size: 70px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    
  }

}

@media (max-width:1000px) {
}  */